*, *::before, *::after {
  box-sizing: border-box;
}

.wrapper {
 max-width: 1360px;
 margin: 0 auto;
 padding: 0 40px;
}

/* ===PC用のスタイル=== */

body {
 font-family: "Noto Sans", "Noto Sans Japanese";
 color: #24292E;
}

p {
 font-size: 14px;
 line-height: 2em;
}

ul {
 list-style: none;
 padding: 0;
}

/* ヘッダー */
header {
 display: flex;
 justify-content: space-between;
 height: 70px;
 align-items: center;
}

#header-logo {
 max-width: 70%;
 height: auto;
}

.openbtn {
 position: fixed;
 top: 25px;
 right: 100px;
}

.openbtn span {
 display: inline-block;
 position: absolute;
 background-color: #24292E;
 height: 2px;
 width: 30px;
}

#openbtn-part1 {
 top: 10px;
}

#openbtn-part2 {
 top: 18px;
}

/* メイン */
#content {
  margin-top: 40px;
  margin-bottom: 160px;
}

#about-content {
  max-width: 600px;
}

h1 {
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 30px;
}

/* フッター */
footer {
 display: flex;
 justify-content: space-between;
}

#sns-link {
 display: flex;
}

#sns-link a {
 font-size: 12px;
 margin-right: 25px;
}

#sns-link a:link {
 color: #24292E;
 text-decoration: none;
}
