*, *::before, *::after {
 box-sizing: border-box;
}

html {
 background-image: url(img/andy-holmes-rCbdp8VCYhQ-unsplash.jpg);
 background-attachment: fixed;
 background-size: cover;
}

body {
 margin: 0;
 position: relative;
}

p, h3, h4 {
 color: #fefae9;
}

li {
 list-style: none;
}

/* ul {
 padding: 0;
} */

a {
 transition: opacity .3s;
 text-decoration: none;
 color: #fefae9;
}

img {
 max-width: 100%;
}

#header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 480px;
  height: 60px;
  background-color: rgba(0, 20, 65, 0.9);
  z-index: 100;
}

.header-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.toggle_btn {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 20px;
}

.toggle_btn span {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fefae9;
  left: 0;
  transition: 0.3s;
}

.toggle_btn span:nth-child(1) {
  top: 0;
}

.toggle_btn span:nth-child(2) {
  bottom: 0;
}

#nav-sp {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  max-width: 480px;
  height: 100vh;
  padding: 80px 40px;
  background-color: rgba(0,0,0,0.9);
  transition: 0.4s;
  opacity: 0;
}


#nav-pc {
 position: fixed;
 top: 200px;
 left: calc(50% + 260px);
}

#nav-pc li {
 text-align: center;
 background-color: #191921;
}

.nav-pc-button {
 margin: 10px 0;
 padding: 20px;
 border-radius: 10px;
}

.nav-pc-button a {
 font-family: "Forum", serif;
 font-weight: 400;
 font-style: normal;
 font-size: 24px;
 text-decoration: none;
}

article {
 max-width: 480px;
 margin: 0 auto;
}

#main-background {
 background: linear-gradient(rgba(0, 20, 65, 0.9),rgba(0, 20, 65, 0.4));
}

#section1, #section2, #section3 {
 min-height: 100vh;
}

.container {
 padding: 30px 20px;
}

h2 {
 margin: 0;
 font-family: "Forum", serif;
 font-weight: lighter;
 font-size: 40px;
 color: #fefae9;
 text-align: center;
 padding: 30px 0;
 position: relative;
}

h2::before {
 content: '';
 width: 25px;
 height: 1px;
 background-color: #fff;
 position: absolute;
 top: 50%;
 left: 25%;
}

#section1 {
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 overflow: hidden;
}

.constellation {
 width: auto;
 max-height: 100%;
 transform-origin: center center;
 transform: rotate(-75deg) scale(1.3);
}

.line {
 stroke: #fefae9;
 stroke-width: 0.8;
 opacity: 0.7;
}

.star {
 fill: #fefae9;
}

.star-big {
 cursor: pointer;
}

.star-small {
 opacity: 0.8;
 transition: filter 0.3s, fill 0.3s;
}

.star-big:hover {
 fill: #fdf7de;
 filter: drop-shadow(0 0 6px #fdf7de);
}

/* WORKS */
.works-list {
 display: flex;
 flex-wrap: wrap;
 margin-bottom: -40px;
 justify-content: space-between;
}

.works-item {
 width: 31.74603%;
 flex: 0 0 48%;
 margin-right: 0;
 margin-bottom: 30px;
 color: #333;
}

.works-item:hover {
 opacity: .9;
}

.works-item:nth-of-type(3n) {
 margin-right: 0;
}

.works-img img {
 border: 1px solid #e6e6e6;
}

.works-name {
 font-size: 12px;
 font-weight: bold;
 margin-top: 8px;
}

.works-info {
 font-size: 10px;
 margin-top: 3px;
}

/* SKILLS */
.skill-list {
 flex-wrap: wrap;
 justify-content: space-between;
 margin-bottom: 0;
}

.skill-item {
 display: flex;
 align-items: flex-start;
 justify-content: space-between;
 width: 100%;
 margin-bottom: 35px;
}

.skill-img {
 width: 60px;
 height: auto;
 margin-right: 20px;
}

.skill-body {
 flex: 1;
}

.skill-name {
 margin-bottom: 5px;
}

.skill-text {
 font-size: 13px;
 line-height: 1.7;
}
  
.skill-item:last-child {
 margin-bottom: 0;
}

/* ABOUT */
.profile {
 flex-wrap: wrap;
 margin: 0 auto;
}

.profile-img {
 width: 150px;
 margin: 0 auto;
 border-radius: 50%;
 margin-bottom: 25px;
}

.profile-img img {
 width: 100%;
 height: 150px;
 border-radius: 50%;
}

.profile-body {
 flex: 1;
}

.profile-body p {
 font-size: 14px;
 line-height: 1.7;
}

.profile-body p:not(:last-child) {
 margin-bottom: 20px;
}

/* CONTACT */
#section5 {
 text-align: center;
}

.contact-item:not(:last-child) {
 margin-right: 10px;
}

.contact-text {
 margin-top: 10px;
}

@media screen and (max-width: 767px) {
#nav-pc {
 display: none;
}

article {
 max-width: none;
}

#main-background {
 width: 100%;
}

}

@media screen and (min-width: 768px) {
 #header, .toggle_btn {
  display: none;
 }
}